<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwConfigExceptions="true"
	  autoReload="true"
	  internalLoglevel="info"
	  internalLogFile="C:\Users\user\Desktop\api\ReplicaOfMarc\Training2\NlogSample\NlogSample.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
		<targets async="true">
			<target xsi:type="File" name="all_logs" fileName="C:\Users\user\Desktop\api\ReplicaOfMarc\Training2\NlogSample\all.log"/>
			<target xsi:type="File" name="relevant_logs" fileName="C:\Users\user\Desktop\api\ReplicaOfMarc\Training2\NlogSample\relevant.log"/>
		</targets>

		<rules>
			<logger name="*" minlevel="Trace" writeTo="all_logs"/>
			<logger name="*" minlevel="Warn" writeTo="relevant_logs"/>

		</rules>
	</nlog>	



